@model IEnumerable<ProjektASPNET.Models.OrderModel>
@{
    ViewBag.Title = "CartsView";
}

<h2>Lista koszyków użytkowników</h2>

<div style="width: 100%">
    @Html.ActionLink("Strona główna", "../Home/Index")
    @Html.ActionLink("Lista zamówień", "../Admin/OrdersView")
    @Html.ActionLink("Lista użytkowników", "../Admin/UsersView")
    @Html.ActionLink("Lista produktów", "../Admin/ProductsView")
</div>
<br />

<table class="body-content">
    <tr>
        <th>
            ID użytkownika
        </th>
        <th>
            Produkty
        </th>
        <th>
            Sumaryczna cena
        </th>
    </tr>

    @foreach (var order in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelOrder => order.User)
            </td>
            <td>
                <table class="my-style">
                    <tr>
                        <th>
                            Nazwa
                        </th>
                        <th>
                            Opis
                        </th>
                        <th>
                            Cena
                        </th>
                    </tr>

                    @foreach (ProjektASPNET.Models.ProductModel item in order.Products)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @item.Price.ToString().Substring(0, item.Price.ToString().Length - 2),@item.Price.ToString().Substring(item.Price.ToString().Length - 2, 2) zł
                            </td>
                            <td>
                                @Html.ActionLink("Zobacz", "ProductSeen", new { productId = item.ID }, new { @class = "my-class" })
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                @order.TotalPrice.ToString().Substring(0, order.TotalPrice.ToString().Length - 2),@order.TotalPrice.ToString().Substring(order.TotalPrice.ToString().Length - 2, 2) zł
            </td>
        </tr>
    }
</table>
