@model ProjektASPNET.Models.ProductModel
@{
    ViewBag.Title = "ProductAdd";
}

<h2>ProductAdd</h2>
<form method="post">
    <table>
        <tr>
            <td>
                Id zamówienia:
            </td>
            <td>
                @Html.DisplayFor(model => model.ID)
            </td>
        </tr>
        <tr>
            <td>
                Nazwa:
            </td>
            <td>
                @Html.TextAreaFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                Opis:
            </td>
            <td>
                @Html.TextAreaFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>
                Cena:
            </td>
            <td>
                @Html.ValueFor(model => model.Price)
            </td>
        </tr>
        <tr>
            <button>Stwórz</button>
        </tr>
    </table>
</form>

@Html.ActionLink("Cofnij", "ProductsView")