@model IEnumerable<ProjektASPNET.Models.ProductModel>
@{
    ViewBag.Title = "ProductsView";
}

<h2>Lista produktów</h2>

<div style="width: 100%">
    @Html.ActionLink("Strona główna", "../Home/Index")
    @Html.ActionLink("Lista zamówień", "../Admin/OrdersView")
    @Html.ActionLink("Lista użytkowników", "../Admin/UsersView")
    @Html.ActionLink("Lista koszyków", "../Admin/CartsView")
</div>
<br />

<table class="body-content">
    <tr>
        <th>
            ID Produktu
        </th>
        <th>
            Nazwa
        </th>
        <th>
            Opis
        </th>
        <th>
            Cena
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Hide == false)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Price.ToString().Substring(0, item.Price.ToString().Length - 2),@item.Price.ToString().Substring(item.Price.ToString().Length - 2, 2) zł
                </td>
                <td>
                    @Html.ActionLink("Zobacz", "ProductSeen", new { productId = item.ID }, new { @class = "my-class" })
                </td>
                <td>
                    @Html.ActionLink("Usuń", "ProductDelete", new { id = item.ID }, new { @class = "my-class" })
                </td>
            </tr>
        }
    }
</table>
@Html.ActionLink("Dodaj nowy produkt", "ProductAdd")
