@model ProjektASPNET.Models.ProductModel
@{
    ViewBag.Title = "ProductDelete";
}

<h2>ProductDelete</h2>
<form method="post">
    <table>
        <tr>
            <td>
               Id:
            </td>
            <td>
                @Html.TextAreaFor(model => model.ID)
            </td>
            <td>
                Nazwa:
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                Opis:
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>
                Cena:
            </td>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
    </table>
    <button>Usuń</button>
</form>
@Html.ActionLink("Cofnij", "ProductsView")
