@model IEnumerable<ProjektASPNET.Models.UserModel>
@{
    ViewBag.Title = "UsersView";
}

<h2>Lista użytkowników</h2>

<div style="width: 100%">
    @Html.ActionLink("Strona główna", "../Home/Index")
    @Html.ActionLink("Lista zamówień", "../Admin/OrdersView")
    @Html.ActionLink("Lista produktów", "../Admin/ProductsView")
    @Html.ActionLink("Lista koszyków", "../Admin/CartsView")
</div>
<br />

<table class="body-content">
    <tr>
        <th>
            Użytkownik
        </th>
        <th>
            Rola
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
        </tr>
    }
</table>