@model ProjektASPNET.Models.OrdersModel
@{
    ViewBag.Title = "CartView";
}

<h2>Twój koszyk</h2>

<table>
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Opis
        </th>
        <th>
            Cena
        </th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Price
            </td>
            <td> 
                @Html.ActionLink("Usuń z koszyka", "DeleteFromCartView", new ProjektASPNET.Models.ProductModel { ID = item.ID, Name = "" })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Powrót", "Index");
</div>