@model ProjektASPNET.Models.ProductModel
@using ProjektASPNET.Helpers
@{
    ViewBag.Title = "DeleteFromCartView";
}

<h2>Czy na pewno chcesz usunąć ten produkt?</h2>

<div>
    Nazwa: @Model.Name
</div>
<div>
    Opis: @Model.Description
</div>
<div>
    Cena: @Model.Price.ToString().Substring(0, Model.Price.ToString().Length - 2),@Model.Price.ToString().Substring(Model.Price.ToString().Length - 2, 2) zł
</div>

<div>
    @Html.ActionLink("Tak", "DeleteFromCartView", new ProjektASPNET.Models.ProductModel { ID = Model.ID, Name = Model.Name, Description = Model.Description, Price = Model.Price })
    @Html.ActionLink("Nie", "CartView")
</div>
