@model ProjektASPNET.Models.HomeModel
@using ProjektASPNET.Helpers
@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("ADMIN"))
    {
        <div>
            @Html.ActionLink("Lista zamówień", "../Admin/OrdersView")
            <label> </label>
            @Html.ActionLink("Lista użytkowników", "../Admin/UsersView")
            <label> </label>
            @Html.ActionLink("Lista produktów", "../Admin/ProductsView")
            <label> </label>
            @Html.ActionLink("Lista koszyków", "../Admin/CartsView")
        </div>
    }
    <div>
        Dzień dobry @User.Identity.Name!
        <label>  </label>
        @Html.ActionLink("Wyloguj", "../Login/LogoutView")
    </div>
}
@if (!User.Identity.IsAuthenticated)
{
    <div>
        @Html.ActionLink("Login", "../Login/LoginView")
        <label> </label>
        @Html.ActionLink("Register", "../Login/RegisterView")
    </div>
}

<h2>Sklep</h2>

<form method="POST">
    Wyszukaj produktów: @Html.TextBoxFor(m => m.Search)
    <br />
    <br />

</form>
<table class="body-content">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Opis
        </th>
        <th>
            Cena
        </th>
    </tr>

    @foreach (var item in Model.Products)
    {
        if (item.Hide == false)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Price.ToString().Substring(0, item.Price.ToString().Length - 2),@item.Price.ToString().Substring(item.Price.ToString().Length - 2, 2) zł
                </td>
                <td>
                    @Html.ActionLink("Zobacz", "ProductSeen", new { productId = item.ID }, new { @class = "my-class" })
                </td>
                <td>
                    @if (User.IsInRole("USER"))
                    {
                        @Html.ActionLink("Dodaj do koszyka", "AddToCartView", new { id = item.ID }, new { @class = "my-class" })
                    }
                </td>
            </tr>
        }
    }
</table>
<div>
    @if (User.IsInRole("USER"))
    {
        @Html.ActionLink("Podsumowanie koszyka", "CartView")
    }
</div>

