@model IEnumerable<ProjektASPNET.Models.ProductModel>
@using ProjektASPNET.Helpers
@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>


<div style="width: 100%">
    @Html.ActionLink("Strona główna", "../Home/Index")

    @if (DBHelper.GetInstance().GetUserRole(new ProjektASPNET.Models.LoginModel()) == "Admin") {
        Html.ActionLink("Lista zamówień", "../Admin/OrdersView");
        Html.ActionLink("Lista użytkowników", "../Admin/UsersView");
        Html.ActionLink("Lista koszyków", "../Admin/CartsView");
        Html.ActionLink("Lista produktów", "../Admin/ProductsView");
    }

    @if (DBHelper.GetInstance().GetUserRole(new ProjektASPNET.Models.LoginModel()) == "NotLogged")
    {
        Html.ActionLink("Login", "../Login/LoginView");
        Html.ActionLink("Register", "../Login/RegisterView");
    }
</div>



<br>

<table>
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Opis
        </th>
        <th>
            Cena
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Zobacz", "ProductSeen", new { id = item.ID })
            </td>
            <td>
                @if (DBHelper.GetInstance().GetUserRole(new ProjektASPNET.Models.LoginModel()) != "NotLogged")
                {
                    @Html.ActionLink("Dodaj do koszyka", "ProductSeen", new { id = item.ID })
                }
            </td>
        </tr>
    }
</table>

