@model ProjektASPNET.Models.OrderModel
@{
    ViewBag.Title = "MakeOrderView";
}

<h2>Czy na pewno chcesz złożyć takie zamówienie?</h2>

<form method="POST">

<table class="body-content">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Opis
        </th>
        <th>
            Cena
        </th>
    </tr>

    @foreach (ProjektASPNET.Models.ProductModel item in Model.Products)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Price.ToString().Substring(0, item.Price.ToString().Length - 2),@item.Price.ToString().Substring(item.Price.ToString().Length - 2, 2) zł
            </td>
            <td>
                @Html.ActionLink("Zobacz", "ProductSeen", new { id = item.ID }, new { @class = "my-class" })
            </td>
        </tr>
    }
</table>
    <div>
        Kwota całkowita do zapłacenia: @Model.TotalPrice.ToString().Substring(0, Model.TotalPrice.ToString().Length - 2),@Model.TotalPrice.ToString().Substring(Model.TotalPrice.ToString().Length - 2, 2) zł
    </div>
    <div>
        <button>Tak</button>
    </div>
</form>
<div>
    @Html.ActionLink("Powrót", "Index")
</div>

